@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');


*::selection {
    background: transparent
}


body {
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
