
.model3D {
    perspective: 1000px;
}

.model3D .content {
    width: 100%;
    height: 100%;
    transition: transform .1s ease-out, filter .2s ease-out;
}
.model3D .content:hover {
    transform: rotateX(var(--y)) rotateY(var(--x));
    filter: brightness(var(--brightness));
}